<p-growl [value]="msgs"></p-growl>
<div class="ui-g">
 <div [ngClass]="{'ui-g-8':selectedCar1,'ui-g-12':!selectedCar1}">    
<p-dataTable [value]="trabajador" sortField="nombres" [style]="{'font-size': '0.7em'}" [loading]="loading" loadingIcon="fa-spinner"
[totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)" [lazy]="true" 
[(selection)]="selectedCar1" (onRowSelect)="onRowSelect($event)" tableStyleClass="prime-table" 
selectionMode="single" [rows]="per_page" [paginator]="true" [globalFilter]="gb" #dt>
    <p-header>Personal - Cas</p-header>
    <p-column field="fuente" header="F" sortable="true" [style]="{'width':'4%'}" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="nueva_meta" header="Meta" sortable="true" [style]="{'width':'7%'}" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="nombres" header="Nombres" sortable="true" [style]="{'width':'30%'}" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="cargo" header="Cargo" sortable="true" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>
    <p-column field="des_establecimiento" header="Establecimiento" sortable="true" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
            <p-multiSelect [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
    </p-column>  
    <p-column field="sueldo" [style]="{'width':'10%','text-align':'right'}" header="Sueldo" [filter]="true" >
        <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{ data[col.field] | number : '1.2-2'}}</span>
   </ng-template>
   </p-column>

</p-dataTable></div>

   <div *ngIf='selectedCar1' class="ui-g-4">
  
   <p-panel header="Datos">
       <div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">  
       <div class="ui-g-12"><span style="color:blue">Nombres:</span> {{selectedCar1 ? selectedCar1.nombres:''}}</div>
       <div class="ui-g-12"><span style="color:blue">Cargo:</span> {{selectedCar1 ? selectedCar1.cargo:''}}</div>
       <div class="ui-g-12"><span style="color:blue">Establecimiento:</span> {{selectedCar1 ? selectedCar1.des_establecimiento:''}}</div>
       <div class="ui-g-12"><span style="color:blue">Sueldo:</span> {{selectedCar1 ? selectedCar1.sueldo:''}}</div>
   </div>
       </div>
   </p-panel>
   <p-panel header="Subsidio">
    <div class="ui-g">
       <!--<div class="ui-g-12"><span style="color:blue">Mes:</span> 
       <p-dropdown [options]="meses" [(ngModel)]="fecha" (onChange)="fnUltimoDia(selectedMes)"></p-dropdown> <span style="color:blue">Dias del mes: </span>{{ultimoDia}}</div>-->
        <div class="ui-g-12"><span style="color:blue">Inicio:</span>
        <p-calendar [(ngModel)]="mesInicio" readonlyInput="true" (onSelect)="fnUltimoDia(mesInicio,mesFin)" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> 
        <span style="color:blue">Fin:</span>
        <p-calendar [(ngModel)]="mesFin" readonlyInput="true" (onSelect)="fnUltimoDia(mesInicio,mesFin)" [showIcon]="true" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> 
        </div>
        <div class="ui-g-12"><span style="color:blue">UIT:</span><input id="disabled-input" type="text" [(ngModel)]="uit" size="10" pInputText [disabled]="disabled" /></div>
        <div class="ui-g-12"><span style="color:blue">Dias Subsidiados:</span><p-spinner size="10" [(ngModel)]="diasSubsidiados" [min]="0" [max]="360"></p-spinner></div>       
   </div>
   </p-panel>
   <p-panel header="Calculo">
       <div class="ui-g">   
            <div class="ui-g-12"><span style="color:blue">Sueldo Plh:</span> {{sueldoPlh | number : '1.2-2'}}</div>            
            <div class="ui-g-12"><span style="color:blue">Sueldo x Dia (Plh):</span> {{sueldoxDia | number : '1.2-2'}}</div>
            <div class="ui-g-12"><span style="color:blue">Dias laborados:</span> {{diasLaborados}}</div>            
           <div class="ui-g-12"><button type="button" pButton style="float:center" label="Calcular" (click)="fnCalcular()"></button></div>
           <div class="ui-g-12"><button type="button" pButton style="float:center" label="Subsidio" (click)="fnCalcularPdt(selectedCar1)"></button></div>       
        <!--<div class="ui-g-12"><span style="color:blue">{{sueldoPlh?'Conclusion':''}}</span> {{conclusion}}</div>-->
       </div>
    </p-panel>
   </div>
</div>
<p-dialog header="{{nombres}}" [(visible)]="displayDialog" [modal]="true" width="450" (onAfterHide)="onDialogHide()">
    <p-dataTable [value]="pdt" [style]="{'font-size': '0.7em'}" [loading]="loading" loadingIcon="fa-spinner"        
    selectionMode="single">
    <p-column field="anio" [style]="{'width':'10%','text-align':'right'}" header="Año"></p-column>
    <p-column field="mes" [style]="{'width':'10%','text-align':'right'}" header="Mes"></p-column>
    <p-column field="ingreso" [style]="{'width':'15%','text-align':'right'}" header="Remuneracion">
        <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{ data[col.field] | number : '1.2-2'}}</span>
   </ng-template>
   </p-column>
    <p-column field="maximo" [style]="{'width':'15%','text-align':'right'}" header="Maximo" footer="true">
        <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{ data[col.field] | number : '1.2-2'}}</span>      
   </ng-template>
    <ng-template let-col let-data="rowData" pTemplate="footer">
    <span style="text-align:center;font-weight:bold;">{{totalesMaximo | number : '1.2-2'}} </span>
    </ng-template>
   </p-column>
</p-dataTable>
<p-footer>
    Subsidio x Mes: {{ pdt? redondear(totalesMaximo/pdt.length): 0 | number : '1.2-2'}} <br>
    Subsidio x Dia: {{ pdt? redondear(totalesMaximo/(pdt.length*30)): 0 | number : '1.2-2'}} <br>
    Dias Subsidiados: {{ pdt? diasSubsidiados: 0 | number : '1.2-2'}} <br>
    <hr>
    Devolucion Essalud : {{ pdt? redondear((totalesMaximo/pdt.length)/30) *diasSubsidiados: 0 | number : '1.2-2'}} <br>    
    Calculo Plh : {{ pdt? redondear(sueldoPlh):0 | number : '1.2-2'}} <br>
    <hr>    
    Reintegro: {{ pdt? redondear(selectedCar1? selectedCar1.sueldo-((redondear((totalesMaximo/pdt.length)/30) *diasSubsidiados)+sueldoPlh):0):0 | number : '1.2-2'}} <br>
    <hr>
    Sueldo Actual => : {{ pdt? (selectedCar1? selectedCar1.sueldo:0):0 | number : '1.2-2'}} <br>    
</p-footer>
</p-dialog>
