/* You can add global styles to this file, and also import other style files */
/*
.ui-datatable .ui-datatable-data > tr {
    text-align: center;
}

.ui-datatable .ui-datatable-data > tr > td {
    text-align: right;
}

.ui-datatable .ui-datatable-data tr.ui-rowgroup-header td {   
    text-align: left;
}
*/

