<p-growl [value]="msgs"></p-growl>
<p-dataGrid [value]="datos">
   <p-header>
    <div>
            <div class="ui-grid-row espacio">
                    <div class="ui-grid-col-1"> <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'float': 'center'}"></p-dropdown></div>
                    <div class="ui-grid-col-10">Agenda</div>
                    <div class="ui-grid-col-1"> <button pButton type="button" style="float: right;" icon="fa-file" (click)="newTodo()"></button></div>
            </div>
    </div>
  </p-header>   
   
<ng-template let-car pTemplate="item">  
            <div style="padding:3px" class="ui-g-12 ui-md-2">
                <p-panel>
                  <p-header>
                        <div class="ui-helper-clearfix">
                                <div [ngClass]="car.nivel=='ALTA' ?'ALTA' : car.nivel=='MEDIA' ?  'MEDIA' : 'BAJA'">.</div>   
                                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">{{car.titulo}}</span>                    
                                <i class="fa fa-eraser" style="cursor:pointer; float: right;" (click)="deleteTodo(car.idtodo)"></i>                           
                            </div>
                 </p-header>
                    <div class="car-detail" style="font-size:10px">{{car.texto}}</div>
                    <div class="car-detail" style="font-size:10px">{{car.fecha}}</div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <i class="fa fa-search" (click)="newTodo()" style="cursor:pointer"></i>
                </p-panel>
            </div>
        </ng-template>
</p-dataGrid>

<p-dialog header="Agregar" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="400" (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad " style="font-size:16px;text-align:center;padding:5px">
        <form [formGroup]="rForm" (ngSubmit)="postTodo(rForm.value)">
        <div class="ui-grid-row espacio">
            <div class="ui-grid-col-2">Prioridad</div>
            <div class="ui-grid-col-10">
                    <select formControlName="nivel" class="ui-dropdown" style="width:60%">
                            <option *ngFor="let hmo of cities"
                                    [value]="hmo.value">
                              {{hmo.label}}
                            </option>
                    </select>
               </div>
        </div>
        <div class="ui-grid-row espacio">
            <div class="ui-grid-col-2">Titulo</div>
            <div class="ui-grid-col-10"><input type="text" formControlName="titulo"></div>
        </div>
        <div class="ui-grid-row espacio">
            <div class="ui-grid-col-2">Texto:</div>
            <div class="ui-grid-col-10"> <textarea  formControlName="texto"></textarea></div>
        </div>
        <div class="ui-grid-row espacio">
            <div class="ui-grid-col-2">Fecha </div>
            <div class="ui-grid-col-10"><input type="text" formControlName="fecha"></div>
        </div>
        <div class="ui-grid-row espacio">
            <div class="ui-grid-col-2">Tipo </div>
            <div class="ui-grid-col-10"><select formControlName="tipo" class="ui-dropdown" style="width:60%">
                    <option *ngFor="let item of tipos" [value]="item.value">{{item.label}}</option>
            </select></div>
        </div>
        <div class="ui-grid-row espacio">
                <div class="ui-grid-col-12">
                <input type="submit" class="button expanded" [style]="{'float': 'center'}" value="Guardar" [disabled]="!rForm.valid">
                </div>
        </div>
            </form>
    </div>
</p-dialog>

